/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
    tab-size: 4;
    /* 3 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 4 */
    font-feature-settings: normal;
    /* 5 */
    font-variation-settings: normal;
    /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
    border-top-width: 1px;
    /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
    color: inherit;
    text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-feature-settings: inherit;
    /* 1 */
    font-variation-settings: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    font-weight: inherit;
    /* 1 */
    line-height: inherit;
    /* 1 */
    color: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
    padding: 0;
    /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
    text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    /* 1 */
    background-color: transparent;
    /* 2 */
    background-image: none;
    /* 2 */
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
    cursor: default;
}

/*1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
/* 1 */
    vertical-align: middle;
/* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
    max-width: 100%;
    height: auto;
}

.bg-lightgreen{
    background-color: #D1F8D0;
}

.urbanist {
    font-family: 'Urbanist', sans-serif;
}

.home-body {
    background-image: url('assets/homepagebg.svg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.about-body {
    background-image: url('assets/aboutpagebg.svg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 20px 20px 160px 20px;
}

.about-mission,
.about-whoweare {
    text-align: center;
    padding: 0 40px 0 40px;
}


header {
    background-color: #729666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;
    height: 80px;
}

.menu-icon {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    position: absolute;
    left: 40px;
}

.menu-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 6px 0; 
    transition: background-color 0.3s ease;
    border-radius: 1.5px;
}

/*
.side-menu {
    position: sticky;
    top: 1;
    left: 0px;
    width: 300px; 
    height: 500px;
    background-color: white;
    transition: left 0.3s ease; 
    float: left;
}

.side-menu ul {
    list-style: none;
    padding: 20px;
}

.side-menu ul li {
    margin-bottom: 10px;
}
*/

.header-icon-container {
    color:white;
    position:absolute;
    left: 100px;
    top: 10px;
}

.header-icon-item {
    display: flex;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
}

.header-icon {
    scale:70%;
    position: relative;
    bottom:4px;
}

.header-item-container {
    color:white;
    margin-right: 20px;
    list-style: none;
}

.header-item {
    display: flex;
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}

.header-item a {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease
}

.header-item a:hover {
    color: #80CBE2
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.icon-container {
    display: inline-block;
    position: relative;
    top: 0.05em; 
}

.title {
    color: #537E45;
    font-weight: 700;
    font-size: 110px;
    text-shadow: -3px 4px 5px rgba(0, 0, 0, 0.3);
}

#title-description{
    font-size: 24px;
    font-weight: 300;
    margin-top:-10px;
}

.get-started-button {
    margin-top: 30px;
    background-color: #729666;
    border-radius: 15px;
    padding: 10px;
    width: 150px;
    color: #EDEAEA;
    font-weight: 600;
    font-size: 20px;    
    border: none;
    transition: transform 0.4s ease;
}

.get-started-button:hover { /* move button up and change text to white when user hovers over it */
    transform: translateY(-5px);
    color: white;
}

.features-title {
    color: #5597C6;
    font-weight: 600;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 50px;
    text-shadow: -3px 4px 5px rgba(0, 0, 0, 0.15);
}

.feature-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 7rem;
    gap: 2rem;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem 1rem 2rem;
    border-radius: 25px;
    border: none;
    background-color: white;
    box-shadow: -3px 4px 5px rgba(0, 0, 0, 0.3);
    width: 24rem;
    height: 18rem;
    transition: transform 0.4s ease;
}

.feature:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #5597C6;
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height: 150px;
}

.footer-icon-container {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    margin-bottom: 0.5rem;
}

.footer-icon {
    scale:70%;
    
}

.footer-icon-item {
    display: flex;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
}

.footer-item-container {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-item {
    display: inline-block;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    font-size: 20px;
}

.footer-item a {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease
}

.footer-item a:hover {
    color: #C9F6C8;
}


/* greenhousegas.html */

.ghg-title {
    margin-top: 1rem;
    color: #537E45;
    font-weight: 600;
    font-size: 80px;
    text-shadow: -3px 4px 5px rgba(0, 0, 0, 0.3);
}

.year-ghg-data{
    position: absolute;
    top: 280px;
    width: 400px;
    font-weight: 200;
    font-size: 18px;
    transition: opacity 0.4s;
    opacity: 0;
}

.ghg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 8.5rem;
    font-weight: 600;
    font-size: 50px;
}

.year-button {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    border: none;
    background-color: #729666;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.year-button:hover {
    background-color: #547c54;
}

.piechart-2020 {
    background-image: conic-gradient(
        #5E5F5E 98.9%, /*co2*/
        #989A21 1.1%   /*methane*/
    );
}

.piechart-2021 {
    background-image: conic-gradient(
        #5E5F5E 99.1%, /*co2*/
        #989A21 0.9%   /*methane*/
    );
}

.piechart-2022 {
    background-image: conic-gradient(
        #5E5F5E 99.6%, /*co2*/
        #989A21 0.4%   /*methane*/
    );
}

.continue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.continue-button {
    margin-top: 30px;
    background-color: #729666;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    width: 130px;
    color: #EDEAEA;
    font-weight: 600;
    font-size: 20px;    
    border: none;
    opacity: 0;
    transition: opacity 0.4s ease;
    transition: transform 0.4s ease;
}

.continue-button:hover { /* move button up and change text to white when user hovers over it */
    transform: translateY(-5px);
    color: white;
}

.activities-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 9.5rem;
    font-weight: 600;
    font-size: 35px;
}

.ghg-button {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    border: none;
    background-color: #729666;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 15px;
}

.ghg-button:hover {
    background-color: #547c54;
}

.carbon-dioxide-new {
    background-color:#5E5F5E;
}
.ghg-button[greenhouse-gas="carbon-dioxide"]:hover {
    background-color: #5E5F5E; 
}

.methane-new {
    background-color:#989A21;
}
.ghg-button[greenhouse-gas="methane"]:hover {
    background-color: #989A21;
}

.nitrous-oxide-new {
    background-color: #92AABC;
}
.ghg-button[greenhouse-gas="nitrous-oxide"]:hover {
    background-color: #92AABC;
}

.activity-info{
    position: absolute;
    top: 280px;
    width: 1000px;
    font-weight: 200;
    font-size: 18px;
    transition: opacity 0.4s;
    opacity: 0;
}






